@media only screen and (max-width: 1024px){
    .starteed .container {
        align-items:self-start;
    }

    .container {
        padding: 0px 15px;
    }

    .header {
        margin-top: 15px;
    }

    .started { 
        padding-top: 70px;
    }

    .started__title {
        font-size: 52px;
        line-height: 62px;
    }

    .started__text {
        margin-bottom: 30px;
    }

    .started__list {
        margin-top: 30px;
    }

    .started__img {
        width: 40%;
    }
}