* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
}

/* HEADER SECTION */
.header {
    margin-top: 40px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__menu {
    display: flex;
    margin: 0px auto;
}

.btn {
    background-color: #6E63FA;
    border-radius: 8px;
    padding: 9px 32px;
    font-weight: 600;
    border: 0px;
    color: #fff;
    line-height: 21px;
    border: 1px solid #6E63FA;
}

.header .login:hover, .btn:hover {
    background-color: #4f48b2;
    color: #fff;
}

.header .login {
    background-color: unset;
    border: 1px solid #6E63FA;
    color: #6E63FA;
    margin-right: 24px;
}

.header__menu a {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.32px;
    color: rgba(1, 16, 50, 0.6);
    margin: 0px 20px;
}

.header__menu a:hover {
    color: #011032;
}

/* Started section */
.started {
    padding-top: 123px;
    padding-bottom: 40px;
}
.started .container {
    display: flex;
}

.started__left {
    flex-basis: 55%;
}

.started__img {
    transform: translateX(61.21px);
}

.started__title {
    font-size: 64px;
    font-weight: 600;
    color: #011032;
    line-height: 80px;
    margin-bottom: 24px;
}

.started__text {
    font-size: 17px;
    color: rgba(1, 16, 50, 0.6);
    line-height: 28px;
    margin-bottom: 40px;
}

.started__btns {
    display: flex;
    align-items: center;
}

.started__btns a span {
    background-color: #f0c932;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
}

.started__btns a {
    display: flex;
    align-items: center;
    margin-left: 32px;
    font-size: 16px;
    line-height: 21px;
    color: #011032;
    letter-spacing: -0.32px;
    font-weight: 600;
}

.started__list {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    margin-top: 40px;
}

.started__list li:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6E63EA;
    background-image: url(../img/check.png);
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.started__list li {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

/* Choose Section */
.choose {
    padding: 64px 0;
}

.btitle {
    font-size: 52px;
    font-weight: 600;
    color: #011032;
    line-height: 72px;
    letter-spacing: 1.1px;
    margin-bottom: 24px;
}

.text {
    font-size: 17px;
    color: rgba(1, 16, 50, 0.6);
    line-height: 28px;
    letter-spacing: -0.41px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%;
    width: 25%;
    max-height: 100%;
    padding: 0px 16px;
}

.text-center {
    text-align: center;
}

.choose__card {
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.05);
}

.choose__img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: rgba(110, 99, 250, 10%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.choose__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.38px;
    margin-bottom: 16px;
}

.choose__text {
    font-size:15px;
    line-height: 26px;
    letter-spacing: -0.24px;
    color: rgba(1, 16, 50, 0.6);
}

/* About Section */
.about {
    padding: 80px 0px;
}

.about .container {
    display: flex;
    align-items: center;
}

.about__img {
    height: 544px;
    background-color: #ccc;
    flex-basis: 534px;
    margin-right: 67px;
    max-width: 534px;
}

.about__info {
    max-width: 534px;
}

.about__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #011032;
    margin-bottom: 16px;
}

.about__lvl {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1.2px;
    color: #6E63EA;
    margin-bottom: 24px;
}

/* Meet Section */
.meet {
    padding-top: 48px;
    padding-bottom: 112px;
}

.meet__card {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.38px;
    color: #011032;
}

.meet__img {
    height: 276px;
    width: 276px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 24px;
}

/* Feed Section */
.feed .container {
    padding: 70px 0px;
    background-color: #DEDCF1;
}


.feed__form {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: auto;
}

.feed__form input {
    border-radius: 8px;
    background-color: #fff;
    padding: 14px 24px;
    font-size: 15px;
    margin-bottom: 24px;
    border: 0;
}
/* Quote Section */
.quote {
    padding: 80px 0px;
}

.quote .container {
    display: flex;
    align-items: flex-end;
}

.quote__left {
    flex-basis: 41.666%;
    margin-right: 20px;
}

.quote__right {
    flex-basis: 53%;
}

.quote__pict {
    margin-bottom: 40px;
}

.quote__text {
    font-size: 15px;
    font-weight: 400;
    color: rgba(1, 16, 50, 0.6);
    line-height: 26px;
    letter-spacing: -0.24px;
    margin-bottom: 24px;
}

.quote__name {
    font-size: 20px;
    font-weight: 600;
    color: #5046C7;
    line-height: 24px;
    letter-spacing: 0.38px;
}

.quote__lvl {
    font-size: 15px;
    font-weight: 400;
    color: rgba(1, 16, 50, 0.6);
    line-height: 20px;
    letter-spacing: -0.24px;
}

.quote__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
}

.quote__person {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quote .btitle {
    margin-bottom: 0;
}

/* Footer Section */
.footer {
    background: #02001D;
    padding: 40px 0px;
    color: #fff;
}

.footer__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 16px;
}

ul.address li {
    opacity: 0.6;
    margin-bottom: 24px;
}

.footer__top ul a {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #fff;
    opacity: 0.6;
    display: inline-block;
    margin-bottom: 24px;
}

.footer__top ul a:hover {
    opacity: 1;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.footer__social{
    display: flex;
}

.footer__social a {
    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}

.footer__logo {
    filter: brightness(0)invert(1);
}